body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  overflow: auto;
  background-image: url("../images/PINK-BACKGROUND.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #EA7B7B; /* Fallback color */
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#title {
  color: #9E3B3B;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

h3 {
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

.top-heart {
  width: 10%;
  transform: scaleX(-1);
  padding-left: 65rem;
  margin-top: 75px;
}

.bottom-heart {
  width: 10%;
  padding-left: 65rem;
}

#paragraph {
  color: #9E3B3B;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: auto;
  width: 50%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

canvas {
  border: 2px solid #444;
  image-rendering: auto;
  display: flex;
  image-rendering: crisp-edges;
  margin: auto;
}
#status {
  color: white;
  text-align: center;
  margin-top: 20px;
}
#src {
  color: #9E3B3B;
}
